:root {
  --principal-bg: linear-gradient(45deg, orange, rgb(25, 19, 0), black);
  --sombras-text: 1px 1px 3px rgb(250, 174, 33);
}
* {
  margin: 0;
  padding: 0;
}
.logoNav img {
  width: 100px;
  height: 100px;
}
.dropdown-menu {
  background-color: rgb(115, 104, 104);
  color: white;
}
.boton {
  padding-right: 10px;
}
.nombreDelProyecto{
  color: white;
}

body {
  background: #000000;
  background: linear-gradient(
    140deg,
    rgb(0, 0, 0, 1) 0%,
    rgb(223, 0, 0) 50%,
    rgb(0, 0, 0, 1) 100%
  );
}
/* portada */
.carousel-item {
  img {
    border: 1px solid rgba(255, 255, 255, 0.459);
  }
}

/* carrusel de categorias */
.contendorCarrusel {
  width: 98vw;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 50px 0 50px 6px;
}
.funcionCarrusel {
  display: flex;
  min-width: calc(270px * 12);
  animation: carrusel 20s linear infinite;
}
.funcionCarrusel:hover {
  animation-play-state: paused;
}
.tarjetaCarusel {
  width: 250px;
  height: auto;
  margin-left: 20px;

  img {
    width: 250px;
    object-fit: cover;
    transition: all 0.5s ease-in;
  }
  img:hover {
    transform: translateY(30px) scale(1.1);
    z-index: 5;
  }
}
@keyframes carrusel {
  0% {
    transform: translateX(calc(270px * -6));
  }
  100% {
    transform: translateX(0);
  }
}
/* KEYFRAMES DE MODALES */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes badge {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
/* ESTILOS DE MODAL */
.modal-body {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.497);
}

.modalCard {
  animation: fadeInUp 1 0.1s ease forwards;
  animation-delay: 0.3s;
  transition: all 0.3s ease;
  transform-origin: bottom center;
  border: 1px solid white;
  border-radius: 16px;
  overflow: hidden;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.modalCard:hover {
  cursor: pointer;
  transform: perspective(600px) translateY(-20px) scale(1.1) rotateX(-5deg);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.357);
}

.modalCardInner {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  height: 100%;
}
.cardAnimada {
  animation: wobble 1s ease 500ms 1 normal;
  animation-fill-mode: none;
}
.card-body {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);

  text-shadow: var(--sombras-text);
}

.badge {
  z-index: 1;
  animation: badge 2s ease-in-out 0s infinite normal none;
}

.modalbg {
  background: var(--principal-bg);
}
.modalbg .row {
  display: flex;
  flex-wrap: wrap;
}
.modalbg .col-12 {
  display: flex;
}

/* medias query */
@media (min-width: 1024px) {
  .carousel-item {
    img {
      height: 95vh;
    }
    h4 {
      font-size: 70px;
    }
  }
}

@media (max-width: 760px) {
  .grillaPD {
    img {
      width: 100%;
    }
    div {
      width: 80%;
      margin-left: 20px;
    }
  }
}
@media (min-width: 768px){
  .nav-item{
    justify-content: space-between;
    display: none;
  }
}
